<% provide(:title, "Help") %>
<body>
  <header class="masthead" style="background-image: url('assets/yuhang.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Man must explore, and this is exploration at its greatest</h1>
            <p>
            欢迎您使用ABLOG！</br>
            常见问题如下：</br>
            （1）新用户如何注册新账户？</br>
                &nbsp&nbsp解答：有两个页面可进行新用户的注册。①点击首页的立即注册，在注册页面填写自己的昵称，邮箱和密码；</br>
                                              &nbsp&nbsp②点击右上角的登录，点击“登录”按钮下的“新用户？点击注册”。</br>
            （2）登录后如何进行账户资料的编辑？</br>
                &nbsp&nbsp解答：登录后点击右上角的“账户”按钮，在下拉菜单中点击“编辑资料”，即可修改昵称、邮箱和密码。</br>
            （3）如何退出当前账户？</br>
                &nbsp&nbsp解答：登录后在右上角点击“账户”，点击后在下拉菜单中选择“退出登录”。
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
</body>
