<footer class="footer">
    <small>
        <a href="http://www.ucas.ac.cn", target="_blank">中国科学院大学</a>
        
    </small>
    <nav>
        <ul>
            <li> <%= link_to "关于我们", about_path%> </li>
            <li> <%= link_to "联系我们", contact_path%> </li>
            <li> <a href="https://www.qq.com", target="_blank"> 新闻 </a> </li>
        </ul>
    </nav>
</footer>
